@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-container {
  background-image: url(images/Icon\ -\ Menu.jpg);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 311px;
  right: 24px;
  top: 58px;
  color: #28352f;
}

.image {
  position: absolute;
  background-image: url(images/header-illsutration-mobile.svg);
  background-position: center;
  justify-content: center;
  height: 653.32px;
  background-repeat: no-repeat;
  left: -126.38px;
  top: 92.8px;
  width: 630.38px;
}

.hero-text h1 {
  position: absolute;
  text-align: center;
  top: 156px;
  left: 27px;
  width: 327px;
  height: 211px;
  line-height: 52px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.hero-text span {
  color: #36b37e;
}

.hero-text p {
  position: absolute;
  text-align: center;
  width: 327px;
  height: 164px;
  left: 27px;
  top: 382px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.social-links ul {
  position: absolute;
  display: flex;
  list-style: none;
  justify-content: center;
  width: 170.17px;
  height: 19.62px;
  left: 105px;
  top: 568.89px;
  color: #505f79;
}

.about_card_tags li {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #36b37e;
}

.social-links ul li {
  margin-right: 15px;
}

.social-links ul li:hover {
  background-color: aqua;
}

.arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: absolute;
  width: 90px;
  height: 40px;
  left: 155px;
  top: 670px;
  bottom: 4px;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 840px;
}

.container {
  margin-top: 90px;
  flex-direction: column;
  display: flex;
  row-gap: 20px;
}

.heading.container {
  width: 87.2%;
  margin: 0 auto 0 auto;
}

.heading h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.works.indicator {
  margin: auto;
  margin-top: 24px;
  width: 48px;
  height: 4px;
  background-color: #36b37e;
}

.content {
  display: block;
  width: 90%;
  height: 316px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: -40px;
}

.border {
  display: flex;
  flex-direction: column;
  border: #d0d9d4;
  border-radius: 8px;
  overflow: hidden;
}

.border .border-image img {
  width: 90%;
  height: 100%;
  margin: 20px;
}

.border.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.title p {
  display: inline-block;
  width: 90%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
  margin: 16px 6% 0 5%;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.content .links a {
  display: inline-block;
  height: 32px;
  padding: 8px 12px 8px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.button {
  margin-top: 10px;
}

.content .button {
  width: 100%;
}

.content .button a {
  display: inline-block;
  width: 40%;
  height: 48px;
  margin: 13px auto 24px 30%;
  background-color: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.button a:hover {
  background-color: #505f79;
}

.about {
  display: flex;
  flex-direction: column;
  background-image: url(images/illustration\ 1-\ about\ me-mobile\ \(1\) .svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  width: 93.6%;
  margin-left: 3.2%;
  margin-top: 64px;
}

.about-text {
  width: 100%;
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.about-heading {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  color: #172b4d;
  margin-top: 24px;
}

.about .about-me-text .resume_button a {
  display: inline-block;
  width: 43.6%;
  height: 48px;
  margin-top: 24px;
  margin-left: 30%;
  margin-bottom: 24px;
  background-color: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

.about-text .resume_button a:hover {
  box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
  border-radius: 5px;
}

.about-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 35px;
}

.card_list {
  display: block;
  width: 87.2%;
  height: 316px;
  margin-left: 6.4%;
  background-color: #ebf0ee;
  border-radius: 8px;
}

.card_list_icon {
  display: flex;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 40px;
  border-radius: 40px;
  background-color: #fff;
}

.about-list .card_list .card_list_icon img {
  margin: auto;
}

.about_card_title {
  height: 32px;
  margin-top: 28px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
}

.about_card_tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  width: 85%;
  height: 40px;
  margin-left: 7.3%;
  margin-top: 24px;
}
